.ahome {
    background: #8b9900;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    padding: 0.5em;
    color: white;
}
.ahome:hover {
    background: #787e39;
    color: white;
}
.container{
    margin-left: 5vh;
    margin-top: 15px;
}
.home {
    text-align: center;
}

.title {
    text-align: center;
}

.back {
    background-color: #eeecec;
    border-radius: 10px;
}

.card {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 10px;
    padding: 40px;
    justify-content: center;
}
.card__name {
    text-align: center;
    background-color: #465f79;
    border-radius: 10px 10px 0 0;
    margin: auto;
    line-height: 40px;
}

.card__imgContent {
    justify-content: center;
    border-radius: 0 0 10px 10px;
    background-color: #eeecec;
    display: flex;
}

.card__image {
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 0;
    background-color: whitesmoke;
    width: 100%;
    height: 350px;
}

.card__image:hover {
    opacity: 0.9;
}

.card__info {
    background-color: #01043a;
    margin-bottom: 30px;
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding: 10px;

}


.card__ifoItem {
    color: white;
    margin: 0;

}


.card__backinfo {
    border-radius: 10px;
    background-color: red;
}

.button {
    background: #8cc947;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

.card__str {
    color: white;
}

.container__tittle {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: #465f79;
}
