.home {
    text-align: center;
}

.title {
    text-align: center;
}

.back {
    background-color: #eeecec;
    border-radius: 10px;
}

.card {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 10px;
    padding: 40px;
    justify-content: center;

}

.container{

}

.card__name {
    text-align: center;
    background-color: #FBCB0A;
    border-radius: 10px 10px 0 0;
    line-height: 30px;

}

.card__imgContent {
    justify-content: center;
    border-radius: 0 0 10px 10px;
    background-color: #FBCB0A;
    display: flex;
}



.card__image {
    list-style: none;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
    background-color: azure;
    width: 100%;
    height: 250px;

}
strong {
    color: #256057;
    font-weight: 700;
}
.card__image:hover {
    opacity: 0.9;
}

.card__info {
    background-color: #48c78e;
    margin-bottom: 30px;
    border-radius: 0 0 10px 10px;
    text-align: center;
    color: #005a4d;
}


.card__backinfo {
    border-radius: 10px;
    background-color: red;
}

