@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';

.container {
    padding: 3em;
    text-align: center;
    justify-content: center;
}

.container__home {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 40px;
    padding: 40px;
    justify-content: center;
}

.container__card {
    -webkit-transition: all 0.5s ease-in-out;
    box-shadow: none;
    background: #d1e154;
}

.container__card:hover {
    transform: translateY(-4%);
}

.container__a {
    color: black;

}

.container__image {
    width: 100%;
    height: 350px;
}

.nav {
    background-color: #8ccfee;
    text-align: center;
    line-height: 30px;
    padding-top: 35px;
}

.nav__title {
    font-weight: bold;
    font-size: 2em;
    color: white;
}

.nav__button {
    align-content: center;
    text-align: right;
    background-color: #8ccfee;
    padding-bottom: 5px;
}


.nav__buttonEs {
    background-color: #8b9900;
    border: none;
    border-radius: 4px;
    margin-right: 8px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: white;
}
.nav__buttonEs:hover {
    background-color: #adbd0c;
}
.nav__buttonEn {
    background-color: #2a2a26;
    border: none;
    border-radius: 4px;
    margin-right: 8px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: white;
}
.nav__buttonEn:hover {
    background-color: #285e58;
}
.h2__tittle{
    font-size: 1em;
    font-weight: 600;
    color: #507ba1;
}